@import "fonts";
.bcjNav{
  position: relative;
  overflow: visible;
}
.warp {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  li {
    float: left;
    width: 33.3%;
    text-align: center;
    position: relative;

    a{
      padding: 0;
    }
    i {
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      border: 10rem/@base solid transparent;
      border-bottom: 10rem/@base solid #000;
      top: 25rem/@base;
      margin-left: 10rem/@base;

    }

  }

}

.warpList {
  display: none;
  width: 100%;
  position: absolute;
  box-shadow: 0px 0.08rem 0.16rem #dddddd;
  //box-shadow: 0px 3px 5px 1px #ccc;
  background-color: #fff;
  z-index: 111;
  a {
    position: relative;
    display: block;
    line-height: 80rem/@base;
    height: 80rem/@base;
    padding: 0 30rem/@base;
    border-bottom: 1px solid #ccc;

    i {
      width: 32rem /@base;
      height: 32rem /@base;
      right: 30rem/@base;
      top: 24rem/@base;
      position: absolute;
      &.img {
        background: url(../images/on.png) right center no-repeat;
        background-size: 32px 32px;
      }
    }
  }
}

.warpCity {
  display: none;
  width: 100%;
  position: absolute;
  box-shadow:0px 0.08rem 0.16rem #dddddd;
  background-color: #fff;
  z-index: 111;
  a {
    position: relative;
    display: block;
    line-height: 80rem/@base;
    height: 80rem/@base;
    padding: 0 30rem/@base;
    border-bottom: 1px solid #ccc;

    i {
      width: 32rem /@base;
      height: 32rem /@base;
      right: 30rem/@base;
      top: 24rem/@base;
      position: absolute;
      &.img {
        background: url(../images/on.png) right center no-repeat;
        background-size: 32px 32px;
      }
    }
  }
}

.hidden {
  display: none;
}

.content_list {
  background-color: #f7f7f7;
  padding: 15rem/@base;
  li {
    background-color: #fff;
    width: 49%;
    float: left;
    &:nth-of-type(2n+1) {
      margin-right: 2%;
      margin-bottom: 15rem/@base;
    }
    a {
      display: block;
      padding: 10rem/@base;

      img {
        width: 330rem/@base;
        height: 330rem/@base;
        margin: 0 auto;
      }
    }
  }
  .title {
    .font_dpr(14px);
    padding: 15rem/@base 0;
  }
  .price {
    color: red;
    .font_dpr(14px)
  }
  .add_item {

    display: inline-block;
    border-radius: 5rem/@base;
    background-color: #FF841D;
    padding: 10rem/@base;
    color: #fff;
  }
}